<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osilifeconnect_ase">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application>
        <activity
            android:name=".DeviceControlActivity"
            android:label="@string/title_activity_device_control"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DeviceScanActivity"
            android:label="@string/title_activity_device_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ConfigurationActivity" />
        <activity android:name=".UnitsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeightActivity"
            android:parentActivityName=".dashboardActivity">
            <meta-data
                android:name="android.support.PARENT-ACTIVITY"
                android:value=".dashboardActivity" />
        </activity>
        <activity android:name=".dashboardActivity" />
        <activity
            android:name=".BloodPressureActivity"
            android:parentActivityName=".dashboardActivity">
            <meta-data
                android:name="android.support.PARENT-ACTIVITY"
                android:value=".dashboardActivity" />
        </activity>
    </application>

</manifest>